@import url('bootstrap');
@import url('bootstrap-icons');

body{
  background-color: black;
  color: white;
}

.card{
  position: relative;

  &:hover{
    #image{
      display: none;
    }
  }
}

#image{
  position: absolute;
  height: 100%;
  width: 100%;
}