@import url('bootstrap');
@import url('bootstrap-icons');

body{
  background-color: black;
  color: white;
}

.card{
  position: relative;
  max-width: 14rem;

  &:hover{
    #image{
      display: none;
    }
  }
}

#image{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}