@import url('bootstrap');
@import url('bootstrap-icons');

body{
  background-color: black;
  color: white;
}

.card{
  position: relative;
  max-width: 14rem;

  &:hover{
    #image{
      opacity: 0;
      pointer-events: none;
    }
  }
}

#image{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  pointer-events: auto;
}